@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none; color: inherit;}
img {vertical-align: top;}
body {font-family: 'Nanum Gothic'; color: #333;}
ul::after {content: ""; clear: both; display: block;}
.fl:after { display: none; }
.blind {position: absolute; left: -99999px; width: 0; height: 0; font-size: 0; overflow: hidden;}
.wrap {margin: 0 auto; width: 1100px; position: relative;}

header {background: #fff;}
header .wrap h1 {height: 85px; width: 100%; display: flex; justify-content: center;}
header .wrap h1 a {position: absolute; top: 40px;}
header .wrap ul {display: flex; justify-content: space-between; align-items: center; height: 45px;}
header .wrap ul li a:link, header .wrap ul li a:visited {font-weight: bold; transition: 0.3s;}
header .wrap ul li a:hover, header .wrap ul li a:active, header .wrap ul li a:focus {color: #c93;}

#main {display: flex; align-items: center; background: url(../images/mainimg.jpg) no-repeat center; height: 560px; border-bottom: 3px solid #000;}
#main .wrap {height: 560px; display: flex; align-items: center; justify-content: end;}
#main .pic {position: relative; right: -46px;}
#main .btn {position: relative; right: -104px; top: 20px;}

#cont {margin: 100px 0 70px;}
.top {display: flex;}
#cont .top div {width: 250px; margin-left: 20px; padding-top: 25px; border-top: 2px solid #000;}
#cont .top div:first-child {margin-left: 0;}
#cont .top div:last-child {width: 560px;}
#cont .top div h3 {margin-top: 30px; font-size: 16px;}
#cont .top .bs h3::before {content: ""; width: 60px; height: 6px; background: #000; display: block; margin: 20px 0 30px;}
#cont .top div p {font-size: 13px; margin: 20px 0 30px; line-height: 1.6;}
#cont .top .bs article {position: absolute; right: 0; top: 27px; width: 250px;}
#cont .top .bs article span {font-size: 13px; font-weight: bold;}

#cont .bottom div {width: 100%; padding-top: 25px; margin-top: 90px; border-top: 2px solid #000;}
#cont .bottom div article {width: 250px; margin-right: 20px;}
#cont .bottom div h3 {margin-top: 30px; font-size: 16px;}
#cont .bottom div h3::before {content: ""; width: 60px; height: 6px; background: #000; display: block; margin: 20px 0 30px;}
#cont .bottom div p {font-size: 13px; margin: 23px 0 30px; line-height: 1.6;}
#cont .bottom span {font-size: 13px; font-weight: bold;}

#cont .bottom ul {position: absolute; top: 27px; right: 0;}
#cont .bottom ul li {float: left; margin-left: 20px;}

footer .menu {border-bottom: 6px solid #000;width: 100%;}
footer .menu a {display: block; text-align: center;}
footer .info {padding: 30px 0;}
footer address {font-style: normal; font-size: 13px; line-height: 1.4;}
footer address > a:first-child {color: #c93; font-weight: bold;}
footer address p {color: #999; font-size: 11px;}
footer .info > a {position: absolute; left: 590px; top: 30px;}

footer .info ul li {font-size: 13px;}
footer .info .link {position: absolute; right: 0; top: 31px;}
footer .info .link li {float: left;}
footer .info .link li::after {content: ":"; margin: 0 10px;}
footer .info .link li:last-child::after {display: none;}
footer .info .recruit {position: absolute; right: 242px; top: 58px;}
footer .info .recruit li {float: left; margin-right: 3px;}
footer .info .recruit li:last-child {margin-right: 0;}